<template>
  <div class="sidebar">
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  data () {
    return {
     
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
